# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build outputs
bin/
build/

# OS files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Logs
*.log

# Dependency cache (let go.mod handle it)
vendor/

# Environment Variables
*.env
.env
.env.*